<footer class="footer">
    <div class="footer-content">
      <!-- Company Logo -->
      <div class="logo">
        <img src="../../../assets/preview.jpg" alt="Company Logo" />
        <p>&copy; <span id="year"></span>  All rights reserved.</p>

      </div>
  
      <!-- Version and Copyright -->
      <div class="info">
        <div>Version</div>
        <p> 1.0.0</p>
      </div>
  
      <!-- About Section -->
      <div class="about">
        <p><a><b>About Us</b></a></p>
        <p><a >Contact Us</a></p>
        <p><a >Privacy Policy</a></p>
        <p><a >Terms Of Use</a></p>
      </div>
    </div>
  </footer>
  