header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #f8f8f8; */
    background-color: #ff0000;
    /* color: white; */
  }
  
  .logo img {
    width: 40px;
  }
  
  .header-icons i {
    margin-left: 20px;
    font-size: 1.5em;
    cursor: pointer;
  }
  